﻿@{
    ViewBag.Title = "Home Page";
}

<div class="backdrop container-fluid" style="padding-top: 50px">
    <div class="jumbotron" >
        <center><img src="~/5348721a-d24e-4531-8f93-fd93075b4754.png" /></center>
    </div>
</div>


