﻿@model FlowDocs.ViewModels.UploadFileViewModel
@{
    ViewBag.Title = "AddFile";

}

<h2>Upload File</h2>



@using (Html.BeginForm("UploadFile", "Repositories", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="well">
        <div class="form-group">


            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <h3>
                @Html.LabelFor(x => x.fileBase)
            </h3>
            <input type="file" name="@Html.NameFor(x => x.fileBase)" id="@Html.IdFor(x => x.fileBase)" />
            @Html.ValidationMessageFor(x => x.fileBase, "", new { @class = "text-danger" })
            <div class="form-group" style="padding-top: 20px">
                <input type="submit" value="Upload" class="btn btn-primary" />
            </div>
        </div>
    </div>

}

<div class="form-group">
    <a href="@Url.Action("returnToRepositories","Repositories")" class="btn btn-primary">Cancel</a>
</div>

@section scripts
    {
    @Scripts.Render("~/bundles/jqueryval")
}

