﻿@model FlowDocs.ViewModels.AddRepositoryViewModel
@{
    ViewBag.Title = "AddRepository";

}

<h2>Add Repository</h2>



@using (Html.BeginForm("CreateRepo", "Repositories"))
{
<div class="well">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.myRepositories.reponame)
        @Html.TextBoxFor(model => model.myRepositories.reponame, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.myRepositories.reponame, "", new { @class = "text-danger" })
    </div>

    <div class="checkbox">
        <label>
            @Html.CheckBoxFor(model => model.myRepositories.isshared, new { id = "cbChecked" }) Shared?
        </label>
    </div>
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group" id="addSharedEmails" style="display:none">
        @Html.LabelFor(model => model.myRepositories.sUsers)
        @Html.TextBoxFor(model => model.myRepositories.sUsers, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.myRepositories.sUsers, "", new { @class = "text-danger" })
    </div>

    <input type="submit" value="Add Repository" class="btn btn-primary" />
</div>

}

<div class="form-group" style="padding-top: 20px">
    <a href="@Url.Action("returnToDash","Repositories")" class="btn btn-primary">Cancel</a>
</div>



@section scripts
    {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $(document).ready(function () {
            $("#cbChecked").change(function () {
                $("#addSharedEmails").toggle();
            })
        });
    </script>
}