﻿@model FlowDocs.ViewModels.DashboardViewModel
@{
    ViewBag.Title = "DashBoard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>DashBoard</h2>
@*
    Dashboard view display table of repositories
*@
<div style="padding-bottom: 20px">
    <center><a href="@Url.Action("AddRepository","Repositories")" class="btn btn-primary">Add Repository</a></center>
</div>

<h3>My Repositories</h3>

<table class="table table-bordered table-hover ">
    <thead>
        <tr>
            <th>#</th>
            <th>Repository name</th>
            <th>Shared</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.lstRepos != null)
        {
            foreach (var item in Model.lstRepos)
            {
        <tr>

            <td><a href="@Url.Action("Repository","Repositories", new {Rid = item.repoid })" class="btn btn-link button"><span class="glyphicon glyphicon-folder-open" style="color:black; font-size:large"></span></a></td>
            <td><a href="@Url.Action("Repository","Repositories", new {Rid = item.repoid })" class="btn btn-link">@item.reponame</a></td>
            @if (item.isshared == false)
            {
                <td><a href="@Url.Action("EditShared","Repositories", new {myRid = item.repoid })" class="btn btn-link">Not Shared</a></td>
            }
            else
            {
                <td><a href="@Url.Action("EditShared","Repositories", new {myRid = item.repoid })" class="btn btn-link">Shared</a></td>
            }

        </tr>
            }
        }


    </tbody>

</table>

<h3>Repositories Shared with you</h3>

<table class="table table-bordered table-hover ">
    <thead>
        <tr>
            <th>#</th>
            <th>Repository name</th>
            <th>Shared</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.lstSharedRepos != null)
        {
            foreach (var item in Model.lstSharedRepos)
            {
                <tr>

                    <td><a href="@Url.Action("Repository","Repositories", new {Rid = item.repoid })" class="btn btn-link button"><span class="glyphicon glyphicon-folder-open" style="color:black; font-size:large"></span></a></td>
                    <td><a href="@Url.Action("Repository","Repositories", new {Rid = item.repoid })" class="btn btn-link">@item.reponame</a></td>
                    @if (item.isshared == false)
                    {
                        <td><a href="@Url.Action("EditShared","Repositories", new {myRid = item.repoid })" class="btn btn-link">Not Shared</a></td>
                    }
                    else
                    {
                        <td><a href="@Url.Action("EditShared","Repositories", new {myRid = item.repoid })" class="btn btn-link">Shared</a></td>
                    }

                </tr>
            }
        }



    </tbody>

</table>


