﻿@model FlowDocs.ViewModels.AddRepositoryViewModel
@{
    ViewBag.Title = "EditShared";

}

<h2>Edit Shared with for @Html.ValueFor(m => m.myRepositories.reponame)</h2>

@using (Html.BeginForm("sharedEdit", "Repositories"))
{
<div class="well">

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.myRepositories.repoid)
    @Html.HiddenFor(model => model.myRepositories.reponame)
    @Html.HiddenFor(model => model.myRepositories.repopath)
   
    @Html.HiddenFor(model => model.myRepositories.UserId)
    <div class="form-group">
        @Html.LabelFor(model => model.myRepositories.sUsers)
        @Html.TextBoxFor(model => model.myRepositories.sUsers, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.myRepositories.sUsers, "", new { @class = "text-danger" })
    </div>

    <input type="submit" value="Update shared with" class="btn btn-primary" />
</div>

}

    <div class="form-group" style="padding-top: 20px">
        <a href="@Url.Action("returnToDash","Repositories")" class="btn btn-primary">Cancel</a>
    </div>

@section scripts
    {
    @Scripts.Render("~/bundles/jqueryval")
    
}