﻿@model FlowDocs.ViewModels.RepositoryViewModel
@{
    ViewBag.Title = "Repository";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Repository @Html.ValueFor(m => m.myRepositories.reponame)</h2>


<div style="padding-bottom: 20px">
    <center><a href="@Url.Action("AddFile","Repositories")" class="btn btn-primary">Upload File</a></center>
</div>


    <table class="table table-bordered table-hover ">
        <thead>
            <tr>
                <th>#</th>
                <th>File name</th>
                <th>File type</th>
                <th>Date Uploaded</th>
                <th>Download</th>
                <th>Remove</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.files)
            {
                <tr>
                    <td><a href="#" class="btn btn-link button" disabled><span class="glyphicon glyphicon-file" style="color:black; font-size:large"></span></a></td>
                    <td><a href="@Url.Action("DownloadFile","Repositories", new { fname = item.filename })" class="btn btn-link">@item.filename</a></td>
                    <td>@item.ftype</td>
                    <td>@item.fdate</td>
                    <td><a href="@Url.Action("DownloadFile","Repositories",new { fname = item.filename })" class="btn btn-link button"><span class="glyphicon glyphicon-floppy-save" style="color:black; font-size:large"></span></a></td>
                    <td><a href="@Url.Action("DeleteFile","Repositories", new { id = item.fid }) " class="btn btn-link button"><span class="glyphicon glyphicon-remove-sign" style="color:black; font-size:large"></span></a></td>              
                </tr>
            }

        </tbody>
    </table>
    <div class="form-group">
        <a href="@Url.Action("returnToDash","Repositories")" class="btn btn-primary">Back</a>
    </div>

    @section scripts
    {
        @Scripts.Render("~/bundles/jqueryval")
    }



